# dependencies
/node_modules
/.pnp
.pnp.js 
# testing
/coverage

# production
/dist


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode/

# local env files
/src/pre-start
